{% extends "main.njk" %} {% block content %}

<section class="first-section">
  <div class="container">
    <div class="first-section__wrap">
      <div class="first-section__content">
        <h1 class="title-h1 first-section__title">
          Готовая семантика за 1 минуту
        </h1>
        <p class="first-section__text">
          Сервис <span>автоматического</span> сбора очищенных запросов для любой
          страницы сайта
        </p>
        <div class="flex-row">
          <button class="btn-main first-section__btn">Попробовать</button>
          <p class="text-p1 first-section__sub-text">
            При регистрации 500 руб., хватит чтобы влюбиться
          </p>
        </div>
      </div>

      <div class="first-section__image">
        <img
          class="first-section__img"
          src="/img/first-section-img.svg"
          alt=""
        />
      </div>
    </div>

    <div class="first-section__list">
      <div class="list__item">
        <img class="list__img" src="/img/list-img1.svg" alt="" />
        <h3 class="title-h3 list__title">Избавит от рутины</h3>
        <p class="text-p1 list__text">Долой чистку, парсинг, группировку</p>
      </div>
      <div class="list__item">
        <img class="list__img" src="/img/list-img2.svg" alt="" />
        <h3 class="title-h3 list__title">Легко разобраться</h3>
        <p class="text-p1 list__text">Всего 2 кнопки</p>
      </div>
      <div class="list__item">
        <img class="list__img" src="/img/list-img3.svg" alt="" />
        <h3 class="title-h3 list__title">Больше заработаешь</h3>
        <p class="text-p1 list__text">
          Высвободится много времени на новых клиентов
        </p>
      </div>
      <div class="list__item">
        <img class="list__img" src="/img/list-img4.svg" alt="" />
        <h3 class="title-h3 list__title">Экономия времени</h3>
        <p class="text-p1 list__text">
          Не надо обучать сотрудников сбору семантики и сложным действиям
        </p>
      </div>
      <div class="list__item">
        <img class="list__img" src="/img/list-img5.svg" alt="" />
        <h3 class="title-h3 list__title">Отсутствие ошибок</h3>
        <p class="text-p1 list__text">
          Человеческий фактор и лень никто не отменял, влияющие на полноту
          их сбора
        </p>
      </div>
    </div>
  </div>
</section>

<section class="second-section">
  <div class="container">
    <h2 class="title-h2 second-section__title">
      Ноу-Хау в Кластеризаторе по Топ-у
    </h2>
    <div class="second-section__wrap">
      <div class="second-section__content">
        <div class="second-section__block">
          <h3 class="title-h3 second-section__sub-title sub-title__1">
            Отличительные особенности
          </h3>
          <p class="text-p1 second-section__text">
            На основе лучших страниц конкурентов по видимости
          </p>
        </div>
        <div class="second-section__block">
          <h3 class="title-h3 second-section__sub-title sub-title__2">
            Простая логика
          </h3>
          <p class="text-p1 second-section__text">
            Если они смогли быть в ТОП по этим запросам, значит и вы сможете
          </p>
        </div>
        <div class="second-section__block">
          <h3 class="title-h3 second-section__sub-title sub-title__3">
            Превосходство метода
          </h3>
          <ol class="text-p1 second-section__text">
            <li>Запросы которые реально посадить на страницу</li>
            <li>
              Не нужно думать над объединять или разделять по запросам
              со слабыми связями
            </li>
          </ol>
        </div>
      </div>

      <div class="second-section__image">
        <img class="second-section__img" src="/img/second-section.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="third-section">
  <div class="container">
    <h2 class="title-h2 third-section__title">Как работает сервис</h2>
    <p class="text-p1 third-section__sub-title">
      Процесс состоит из следующих действий
    </p>
    <div class="third-section_row">
      <div class="third-section__block">
        <h3 class="title-h3 third-section__block__title">
          <img class="title-icon" src="img/title-icon1.svg" alt="" />
          Сбор запросов конкурентов
        </h3>
        <p class="text-p1 third-section__block__text">
          Берем запросы со страниц конкурентов, используя платные, обновляемые
          базы
        </p>
        <div class="third-section__block__video">
          <div class="video-image">
            <img class="video-img" src="img/video-img1.png" alt="" />
            <img class="play-icon" src="img/play-icon.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="third-section__block">
        <h3 class="title-h3 third-section__block__title">
          <img class="title-icon" src="img/title-icon2.svg" alt="" />
          Кластеризация
        </h3>
        <p class="text-p1 third-section__block__text">
          Вначале производится чистка запросов. Далее сбор данных и их обработка
          с перепроверкой данных
        </p>
        <div class="third-section__block__video">
          <div class="video-image">
            <img class="video-img" src="img/video-img2.png" alt="" />
            <img class="play-icon" src="img/play-icon.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="third-section__block">
        <h3 class="title-h3 third-section__block__title">
          <img class="title-icon" src="img/title-icon3.svg" alt="" />
          Подготовка готовой семантики
        </h3>
        <p class="text-p1 third-section__block__text">
          Сбор частотности. Определение правильного (самого частотного) порядка
          слов
        </p>
        <div class="third-section__block__video">
          <div class="video-image">
            <img class="video-img" src="img/video-img3.png" alt="" />
            <img class="play-icon" src="img/play-icon.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="prices">
  <div class="container">
    <h2 class="title-h2 prices__title">Цены</h2>
    <div class="prices__wrap">
      <div class="prices__left-block">
        <div class="prices__left-block__head">
          <p class="text-p1">Функционал</p>
          <p class="text-p1">Стоимость</p>
        </div>
        <div class="prices__left-block__item">
          <p class="text-p1">Сбор запросов по конкурентам</p>
          <p class="text-p1"><span>100 руб.</span>за задачу</p>
        </div>
        <div class="prices__left-block__item">
          <p class="text-p1">Класстеризатор по ТОП</p>
          <p class="text-p1"><span>0.1 руб.</span> за фразу</p>
        </div>
      </div>
      
      <div class="prices__right-block">
        <div class="prices__right-sub-block">
          <div class="prices__image">
            <img class="prices__img" src="img/prices1.svg" alt="">
          </div>
          <div class="right__sub-block__content">
            <h3 class="sub-title">Никаких тарифов</h3>
            <p class="text-p1">Пополняйте на ту сумму, которую нужно сейчас, не переплачивая за тариф</p>
          </div>
        </div>
        <div class="prices__right-sub-block">
          <div class="prices__image">
            <img class="prices__img" src="img/prices2.svg" alt="">
          </div>
          <div class="right__sub-block__content">
            <h3 class="sub-title">Не сгорает баланс</h3>
            <p class="text-p1">Нет ограничений по времени</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
