@mixin font-face($font-family, $font-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("/font/#{$font-family}/#{$font-name}.woff2") format("woff2"),
      url("/font/#{$font-family}/#{$font-name}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin font($size, $height: false, $weight: false, $uppercase: false, $spacing: false) {
  font-size: $size + px;
  @if($height != false) {
    @if($height < 2) {
      line-height: $height;
    } @else {
      line-height: $height + px;
    }
  }
  @if($weight != false) {
    font-weight: $weight;
  }
  @if($uppercase != false) {
    font-weight: $weight;
  }
  @if($spacing != false) {
    font-weight: $weight;
  }
}

@mixin line-clamp($count: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}