<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <a href="/" class="footer-logo">
        Logo
      </a>
      
      <nav class="footer-nav">
        <a class="footer-nav__link" href="/">Home</a>
        <a class="footer-nav__link" href="/about.html">About</a>
      </nav>
    </div>
  </div>
</footer>