<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__logo-block">
        <a href="/" class="footer-logo"><img src="img/footer-logo.svg" alt=""></a>
        <p class="text-p1 sub-logo__text">Турбо Ядро © [2022]. Все права защищены</p>
      </div>

      <nav class="footer-nav">
        <div class="footer__sub__block-one">
          <p class="text-p1">Дни работы поддержки</p>
          <p class="mobile-text">ПН-ВС. Каждый день</p>
          <p class="mobile-text">7:00-20:00 по Москве</p>
        </div>
        <div class="footer__sub__block-two">
          <p class="text-p1">Контакты</p>
          <p class="mobile-text mobile-mail">
            <a href="mailto: andreygunchak@gmail.com">help@turbo-yadro.ru</a>
          </p>
          <p class="mobile-text mobile-tel">
            <a href="tel: +7-960-996-95-76">+7-960-996-95-76</a>
          </p>
        </div>
        <div class="link-block">
          <a class="text-p1" href="#">Пользовательское соглашение </a>
          <a class="text-p1" href="#">Политика оплаты и возврата </a>
          <a class="text-p1" href="#">Политика использования Cookie </a>
        </div>
      </nav>
    </div>
  </div>
</footer>
