<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header-logo">
        <img class="logo-img" src="img/logo.svg" alt="" />
        <div class="logo__text">
          <h3 class="title-h3 logo-title"><span>Турбо Ядро</span></h3>
          <p class="text-p1 logo-text">семантика за минуту</p>
        </div>
      </a>

      <nav class="header-nav">
        <a class="header-nav__link text-p2" href="/">Как работает</a>
        <a class="header-nav__link text-p2" href="/about.html">Цены</a>
        <a class="header-nav__link text-p2" href="/ui.html">Частые вопросы</a>
      </nav>

      <div class="header-btn">
        <button class="reg-btn text-p2">Регистрация</button>
        <button class="sign-in-btn text-p2">Вход</button>
        <a class="google" target="_blank" href="https://www.google.com">Google</a>
        <button class="burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="mobile-menu">
        <div class="block__one">
          <p class="text-p1">Личный кабинет</p>
          <div class="mobile-btns">
            <button class="mobile__reg-btn text-p2">Регистрация</button>
            <button class="mobile-sign-in-btn text-p2">Вход</button>
          </div>
        </div>
        <div class="block__two">
          <nav class="header-nav mobile">
            <a class="header-nav__link text-p2" href="/">Как работает</a>
            <a class="header-nav__link text-p2" href="/about.html">Цены</a>
            <a class="header-nav__link text-p2" href="/ui.html"
              >Частые вопросы</a
            >
          </nav>
        </div>
        <div class="block__three">
          <div class="sub__block-one">
            <p class="text-p1">Дни работы поддержки</p>
            <p class="mobile-text">ПН-ВС. Каждый день</p>
            <p class="mobile-text">7:00-20:00 по Москве</p>
          </div>
          <div class="sub__block-two">
            <p class="text-p1">Контакты</p>
            <p class="mobile-text mobile-mail"><a href="mailto: andreygunchak@gmail.com">help@turbo-yadro.ru</a></p>
            <p class="mobile-text mobile-tel"><a href="tel: +7-960-996-95-76">+7-960-996-95-76</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
