<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header-logo">
        Logo
      </a>
      
      <nav class="header-nav">
        <a class="header-nav__link" href="/">Home</a>
        <a class="header-nav__link" href="/about.html">About</a>
        <a class="header-nav__link" href="/ui.html">UI</a>
      </nav>

      
    </div>
  </div>
</header>