<div class="popup">
  <div class="popup__wrap">
    <div class="popup__content">
      <div class="popup__header">
        <h3 class="title-h3 popup__title">Регистрация</h3>
        <button class="btn-close"></button>
      </div>
      <div class="popup__body">
        <label>
          <p class="text-p1">Ваш ник в Телеграмме</p>
          <input class="nickname" type="text" placeholder="nickname" />
          <p class="text-p1">*введите никнейм без @</p>
        </label>
        <label>
          <p class="text-p1">Пароль</p>
          <input class="password" type="password" placeholder="nagibator007" />
        </label>
      </div>
      <div class="popup__footer">
        <button class="btn-main btn-register">Войти</button>
        <button class="btn-sign-up">Я уже зарегестрирован</button>
      </div>
    </div>
  </div>
</div>
