.first-section {
  margin-bottom: 130px;
}

.first-section__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin: 30px 0px 50px 0px;

  @media (max-width: 769px) {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.first-section__content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 769px) {
    gap: 15px;
    align-items: center;
    text-align: center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  gap: 30px;

  @media (max-width: 769px) {
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 10px;
  }
}

.first-section__text {
  max-width: 400px;
  color: #585967;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 145%;
}

.first-section__sub-text {
  max-width: 220px;

  &::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 15px;
    background-image: url('/img/smile.svg');
    background-size: cover;
    margin-left: 5px;
  }
}

//...............list....................//

.first-section__list {
  display: flex;
  gap: 40px;

  @media (max-width: 769px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }

  @media (max-width: 400px) {
    column-gap: 10px;
  }
}

.list__item {
  max-width: 224px;

  @media (max-width: 769px) {
    // max-width: 155px;
    flex-basis: 50%;
  }

  @media (max-width: 555px) {
    max-width: 150px;
    flex-basis: 50%;
  }
}

.list__title {
  margin-top: 10px;
  margin-bottom: 15px;
}

//..................second-section..................//

.second-section {
  margin-bottom: 130px;
}

.second-section__title {
  text-align: center;
}
.second-section__wrap {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.second-section__image {
  @media (max-width: 800px) {
    display: none;
  }
}

.second-section__content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 800px) {
    justify-content: center;
    align-items: center;
  }
}

.second-section__block {
  border-radius: 15px;
  padding: 20px;
  max-width: 586px;
}

.second-section__block:hover {
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
}

.second-section__sub-title {
  margin-bottom: 15px;
}

.sub-title__1 {
  &::before {
    content: '';
    background-image: url(/img/sub-title-icon1.svg);
    width: 21px;
    height: 24px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }
}

.sub-title__2 {
  &::before {
    content: '';
    background-image: url(/img/sub-title-icon2.svg);
    width: 21px;
    height: 24px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }
}

.sub-title__3 {
  &::before {
    content: '';
    background-image: url(/img/sub-title-icon3.svg);
    width: 21px;
    height: 24px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }
}

.second-section__text {
  padding-left: 38px;

  &:last-child {
    padding-left: 50px;
  }
}

//....................third secrion.......................//

.third-section {
  margin-bottom: 130px;
}

.third-section__title {
  text-align: center;
  margin-bottom: 15px;
}

.third-section__sub-title {
  text-align: center;
}

.third-section_row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;

  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.third-section__block {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / 4;
  gap: 1px;

  @media (max-width: 991px) {
    grid-template-rows: auto;
    grid-row: auto;
    grid-template-columns: 1fr;
    gap: 1px;
  }
}

.title-icon {
  position: absolute;
  z-index: -1;
  top: -22px;
  left: 8px;
}

.third-section__block__title {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
}

.third-section__block__text {
  margin-bottom: 40px;
}

.third-section__block__video {
  margin-bottom: 40px;
}

.video-image {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  outline: 1px dashed transparent;
  outline-offset: 4px;
  transition: 1s outline-color ease;

  &:hover {
    outline-color: $orange;
  }
}

.video-img {
  display: block;
  width: 100%;
  transition: transform 0.3s ease;
}

.play-icon {
  width: 45px;
  height: 47px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 30;
}

.video-image:hover .video-img {
  transform: scale(1.1);
}

//........................pricres......................//

.prices {
  padding: 0 0 50px;
  margin-bottom: 130px;
}

.prices__title {
  margin-bottom: 50px;
}
.prices__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 100px;

  @media (max-width: 800px) {
    gap: 50px;
  }

  @media (max-width: 675px) {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

.prices__left-block {
  border-radius: 15px;
  border: 1px dashed #e2e3ef;
}

.prices__left-block__head,
.prices__left-block__item {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 20px 15px;
  margin: 0 10px;
}

.prices__left-block__item {
  border-top: 1px dashed #e2e3ef;
}

.prices__right-block {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;

  @media (max-width: 675px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.prices__right-sub-block {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;

  @media (max-width: 675px) {
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
    place-items: center;
  }
}

.sub-title {
  margin-bottom: 10px;
}

.prices__image {
  width: 100px;
  height: 100px;

  @media (max-width: 675px) {
  }
}

//.....................reviews.....................//

.reviews {
  margin-bottom: 130px;
}

.review-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.review-count {
  display: flex;
  align-items: center;
  gap: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 55px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__img-block {
  max-width: 90px;
  margin-right: 30px;
}

.review__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__name {
  text-align: center;
  margin-bottom: 10px;
}

.review__proff {
  text-align: center;
  font-size: 14px;
}

.swiper__text-block {
  border-radius: 15px;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.review__sub-title {
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;

  &::before {
    content: '';
    background-image: url('img/sub-title-icon.svg');
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: -1;
  }
}

.review__text {
  max-width: 425px;
}

.swiper-button-prev {
  background-image: url('img/prev-icon.svg');
  width: 21px;
  height: 12px;
  transition: .3s opacity ease;

  &:disabled {
    opacity: .4;
  }
}

.swiper-button-next {
  background-image: url('img/next-icon.svg');
  background-size: contain;
  width: 21px;
  height: 12px;
  transition: .3s opacity ease;

  &:disabled {
    opacity: .4;
  }
}

//....................accordion....................//

.accordion {
  margin-bottom: 130px;
}

.accordion__title {
  text-align: center;
  margin-bottom: 50px;
}

.accordion-block {
}

.accordion__item {
  margin-bottom: 50px;
}

.accordion__item:last-child {
  margin-bottom: 0px;
}

.accordion__item__title {
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    width: 10px;
    height: 1px;
    background-color: #a0a2b4;
    position: absolute;
    top: 5px;
  }
}

.accordion__item__title::before {
  transform: rotate(40deg);
  right: 0px;
}

.accordion__item__title::after {
  transform: rotate(-40deg);
  right: 7px;
}

.accordion__item__text {
  display: none;
  padding-bottom: 20px;
}
