.sign-in-btn {
  padding: 12px 20px;
  border: 1px solid #000;
  border-radius: 30px;
}

.mobile-sign-in-btn {
  padding: 12px 50px;
  border-radius: 30px;
  border: 1px solid $orange;
  color: $orange;
}

.mobile__reg-btn {
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #000;
}

.orange-btn {
  padding: 22px 56px;
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  border-radius: 30px;
  font-family: Ubuntu;
  font-weight: 700;
}

// Dima
.btn-main {
  display: inline-block;
  padding: 18px 32px;
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  transition: .3s all ease;

  @media (min-width: $xl) {
    padding: 22px 56px;
    font-size: 14px;
    line-height: 16px;
  }

  &:hover,
  &:focus {
    background-color: darken($orange, 10%);
  }

  &:active {
    background-color: darken($orange, 15%);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba($orange, .5);
  }

  &:disabled {
    background-color: $orange;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// ............................вверху мои кнопки проекта....................//
// .btn {
//   padding: 6px 12px;
//   font-size: 16px;
//   line-height: 1.5;
//   font-weight: 500;
//   border-radius: 6px;
//   transition: 0.3s all ease;

//   &:focus-visible {
//     outline: none;
//   }
// }

// @each $color, $value in $ui-dark {
//   .btn-#{$color} {
//     color: white;
//     background: $value;

//     &:hover,
//     &:focus {
//       background: darken($value, 10%);
//     }

//     &:active {
//       background: darken($value, 15%);
//     }

//     &:focus-visible {
//       box-shadow: 0 0 0 4px rgba(darken($value, 15%), 0.5);
//     }
//   }
// }

// @each $color, $value in $ui-light {
//   .btn-#{$color} {
//     color: black;
//     background: $value;

//     &:hover,
//     &:focus {
//       background: lighten($value, 10%);
//     }

//     &:active {
//       background: lighten($value, 15%);
//     }

//     &:focus-visible {
//       box-shadow: 0 0 0 4px rgba(lighten($value, 15%), 0.5);
//     }
//   }
// }

// .btn-light {
//   color: black;
// }

// .btn-dark {
//   color: white;
// }

// @each $color, $value in $ui-dark {
//   .btn-outline-#{$color} {
//     color: $value;
//     background: transparent;
//     border: 1px solid $value;

//     &:hover:not(:disabled),
//     &:focus:not(:disabled) {
//       color: white;
//       background: $value;
//     }

//     &:active:not(:disabled) {
//       background: darken($value, 15%);
//     }

//     &:focus-visible:not(:disabled) {
//       box-shadow: 0 0 0 4px rgba(darken($value, 10%), 0.5);
//     }
//   }
// }

// @each $color, $value in $ui-light {
//   .btn-outline-#{$color} {
//     color: $value;
//     background: transparent;
//     border: 1px solid $value;

//     &:hover:not(:disabled),
//     &:focus:not(:disabled) {
//       color: black;
//       background: $value;
//     }

//     &:active:not(:disabled) {
//       background: lighten($value, 10%);
//     }

//     &:focus-visible:not(:disabled) {
//       box-shadow: 0 0 0 4px rgba(lighten($value, 10%), 0.5);
//     }
//   }
// }

// .btn-outline-light {
//   border: 1px solid black;
//   color: black;

//   &:hover:not(:disabled),
//   &:focus:not(:disabled) {
//     color: black;
//   }
// }

// .btn-outline-dark {
//   border: 1px solid white;
//   color: white;

//   &:hover:not(:disabled),
//   &:focus:not(:disabled) {
//     color: white;
//   }
// }

// .btn-lg {
//   padding: 8px 16px;
//   font-size: 20px;
// }

// .btn-sm {
//   padding: 4px 8px;
//   font-size: 14px;
// }

// .btn {
//   &:disabled {
//     opacity: 0.5;
//     cursor: not-allowed;
//   }
// }
