@import '../../node_modules/swiper/swiper.scss';

@import './helper/settings';
@import './helper/variables';
@import './helper/colors';
@import './helper/breakpoint';
@import './helper/mixins';
@import './helper/ui';

@import './base/reset';
@import './base/main';
@import './base/fonts';
@import './base/container';

@import './elements/button';
@import './elements/input';
@import './elements/checkbox';
@import './elements/radio';
@import './elements/switch';
@import './elements/select';
@import './elements/burger';
@import './elements/spinner';

@import './components/header';
@import './components/footer';
@import './components/register';

@import './page/index';
@import './page/about';
